@import 'variables';
@import 'mixins';
@import './../../../../shared/components/log-in/card/card.component.scss';

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-new-password {
    width: 200px;
    height: 32px;
    padding: 0;
    background-color: unset;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $secondaryColor;
    border: none;

    &:hover {
        background-color: $backgroundColor;
        font-weight: 600;
        border: none;
    }
}

.separation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        height: 1px;
        background-color: $dividerColor;
        width: 100%;
    }

    .or {
        padding: 5px 15px;
        box-sizing: border-box;
    }
}

.google-btn {
    padding: unset;
    @include dja;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $primaryColor;

    &:hover {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        border: 1px solid $primaryColor;
    }

    &:focus {
        border: 1px solid $textGrey;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
    }
}



.hovering-google-input {
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 21.6px;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 30px;

    button:first-child {
        width: 137px;
        height: 49px;
        font-size: 18px;
        font-weight: 700;
    }

    button:nth-child(2) {
        width: 153px;
        height: 49px;
        font-size: 18px;
        font-weight: 700;
    }
}