@import 'variables';
@import 'mixins';
@import './../../../../shared/components/log-in/card/card.component.scss';

.width-container {
    width: 606px;

    @media (max-width: 790px) {
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 790px) {
        gap: 20px;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-new-password {
    width: 200px;
    height: 32px;
    padding: 0;
    background-color: unset;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $secondaryColor;
    border: none;

    @media (max-width: 510px) {
        font-size: 17px;
        line-height: 20.4px;
    }

    &:hover {
        background-color: $backgroundColor;
        font-weight: 600;
        border: none;
    }
}

.separation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        height: 1px;
        background-color: $dividerColor;
        width: 100%;
    }

    .or {
        padding: 5px 15px;
        box-sizing: border-box;

        @media (max-width: 510px) {
            font-size: 17px;
        }
    }
}

.google-btn {
    padding: unset;
    @include dja;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $primaryColor;

    @media (max-width: 510px) {
        gap: 10px;
        font-size: 16px;
        line-height: 18px;
    }

    &:hover {
        font-weight: 700;
        border: 1px solid $primaryColor;
    }

    &:focus {
        border: 1px solid $textGrey;
    }
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 510px) {
        gap: 10px;
    }

    button {
        height: 49px;
        font-size: 18px;
        font-weight: 700;

        @media (max-width: 510px) {
            font-size: 14px;
            padding: 0px 20px;
            height: 40px;
        }
    }
}

.relative-container {
    position: relative;

    @media (max-width: 790px) {
        height: 68px;
    }
}

.error-message {
    position: absolute;
    top: 48px;

    @media (max-width: 510px) {
        font-size: 12px;
        line-height: 15px;
    }

    @media (max-width: 393px) {
        top: 58px;
    }
}