@import 'variables';

.inputfield {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 144px;
  padding: 16px;
  border: 1px solid $dividerColor;
  border-radius: 20px;

  &:hover {
    border-color: $secondaryColor;
  }

  &:focus-within {
    border-color: $thirdColor;
  }

  .inputfield-textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;

    .inputfield-textarea::placeholder {
      color: $textGrey;
    }

    &:focus {
      ~.inputfield-buttons {
        button {
          &:hover {
            background-image: url('./../../../../assets/icons/send-hover.svg');
          }
        }
      }

      ~.inputfield-buttons .tags .icon {
        &:hover {
          background-color: $backgroundColor;
          border-radius: 50%;
        }

        &.appendix {
          background-image: url('./../../../../assets/icons/add-focus.svg');

          &:hover {
            background-image: url('./../../../../assets/icons/add-hover.svg');
          }
        }

        &.smileys {
          background-image: url('./../../../../assets/icons/smiley-focus.svg');

          &:hover {
            background-image: url('./../../../../assets/icons/smiley-hover.svg');
          }
        }

        &.at {
          background-image: url('./../../../../assets/icons/at-focus.svg');

          &:hover {
            background-image: url('./../../../../assets/icons/at-hover.svg');
          }
        }
      }
    }
  }


  .inputfield-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tags {
      display: flex;
      align-items: center;
      gap: 16px;

      .divider {
        width: 1px;
        height: 24px;
        background-color: $dividerColor;
      }

      .icon {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;


        &.appendix {
          background-image: url('./../../../../assets/icons/add.svg');
        }

        &.smileys {
          background-image: url('./../../../../assets/icons/smiley.svg');
        }

        &.at {
          background-image: url('./../../../../assets/icons/at.svg');
        }
      }
    }
  }

  button {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url('./../../../../assets/icons/send.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.smileys-container {
  position: absolute;
  bottom: 48px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
}