<section class="inputfield">
  <textarea [id]="thread ? 'inputfieldThread' : 'inputfield'" class="inputfield-textarea"
    [placeholder]="thread ? 'Antworten...' : 'Schreibe an ' + storage.currentUser.currentChannelName"
    [(ngModel)]="message"></textarea>
  <div class="inputfield-buttons">
    <div class="tags">
      <div class="icon appendix"></div>
      <div class="divider"></div>
      <div class="icon smileys" (click)="showEmojiSelector = !showEmojiSelector">
        <div class="smileys-container" [class.active]="showEmojiSelector" (click)="outsideClick($event)">
          <app-emoji-selector [isInput]="true" [inputField]="this"></app-emoji-selector>
        </div>
      </div>
      <div class="icon at"></div>
    </div>
    <button class="inputfield-send" (click)="sendMessage()"></button>
  </div>
</section>