<section class="inputfield">
  <textarea class="inputfield-textarea"
    [placeholder]="thread ? 'Antworten...' : 'Schreibe an ' + storage.currentUser.currentChannelName"
    [(ngModel)]="message"></textarea>
  <div class="inputfield-buttons">
    <div class="tags">
      <div class="icon appendix"></div>
      <div class="divider"></div>
      <div class="icon smileys"></div>
      <div class="icon at"></div>
    </div>
    <button class="inputfield-send" (click)="sendMessage()"></button>
  </div>
</section>