@import 'variables';

.inputfield {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 144px;
  padding: 16px;
  border: 1px solid $dividerColor;
  border-radius: 20px;

  &:focus-within {
    .inputfield-buttons {
      button {
        &:hover {
          svg {
            path {
              fill: $thirdColor;
            }
          }
        }
      }
    }

    .inputfield-buttons .tags .icon {
      &:hover {
        background-color: $backgroundColor;
        border-radius: 50%;
      }

      &.appendix,
      &.smileys,
      &.at {
        svg {
          path {
            fill: $textBlack;
          }
        }

        &:hover {
          svg {
            path {
              fill: $thirdColor
            }
          }
        }
      }
    }
  }

  &:hover {
    border-color: $secondaryColor;
  }

  &:focus-within {
    border-color: $thirdColor;
  }

  .inputfield-textarea {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;

    .placeholder {
      color: $textGrey;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .message-content {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      cursor: text
    }
  }


  .inputfield-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tags {
      display: flex;
      align-items: center;
      gap: 16px;

      .divider {
        width: 1px;
        height: 24px;
        background-color: $dividerColor;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.smileys-container {
  position: absolute;
  bottom: 48px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  transition: all 125ms ease-in-out;
  transform-origin: bottom center;
  transform: scale(0);
  z-index: 2;
  border-radius: 8px;

  &.active {
    transform: scale(1);
  }
}