@import 'variables';

@mixin font {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.newMessage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .autocomplete-container {
    position: relative;
    width: 100%;
    /* Passe die Breite nach Bedarf an */
    display: flex;
    align-items: center;
    @include font;


    .suggestion {
      position: absolute;
      width: 100%;
      padding: 8px 24px;
      color: #ccc;
      pointer-events: none;
      font-family: inherit;
      font-size: inherit;
      white-space: nowrap;
      overflow: hidden;

      @include font;
    }

    input {
      background: transparent;
      position: relative;
      width: 100%;
      padding: 8px 24px;
      gap: 20px;
      border-radius: 40px;
      border: 1px solid $textGrey;
      @include font;

      &::placeholder {
        color: $textGrey;
        @include font;
      }
    }
  }

  p {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  app-result-dropdown {
    position: absolute;
    left: 41px;
    top: 101px;
    z-index: 9;
  }
}