@import 'variables';
@import 'styles';
@import './../../../../shared/components/log-in/card/card.component.scss';
@import './../../../../shared/components/log-in/background/background.component.scss';

.width-container {
    width: 698px;
    
    @media (max-width: 790px) {
        width: 100%;
    }
}

ng-container {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;

    form, p {
        max-width: 486px;
        width: 100%;
    }

    .button-container {
        max-width: 486px;
        width: 100%;
        display: flex;
        justify-content: end;

        button {
            @media (max-width: 510px) {
                font-size: 14px;
                padding: 0px 20px;
                height: 40px;
            }
        }
    }

}

.text-grey {
    color: $textGrey;
}