<main>
  <section class="thread-message">

    @if(findChannel() === 'channel') {
      <div class="thread-start">
        <app-message [threadHead]="true" [post]="getOriginalPost()"></app-message>
      </div>

      @for (post of getThreadPosts(); track post.id) {
        @if (currentDate(post.timestamp) > compareTimestamp) {
          <app-date-separator [date]="trackByDate(post)"></app-date-separator>
        }
        <app-message [origin]="'channel'" [isThread]="true" [post]="post"></app-message>
      }
      {{ resetCompareTimestamp() }}
    }

    @if(findChannel() === 'dm') {

      <div class="thread-start">
        <app-message [threadHead]="true" [post]="getOriginalPost()"></app-message>
      </div>

      @for (post of getThreadPosts(); track post.id) {
        @if (currentDate(post.timestamp) > compareTimestamp) {
          <app-date-separator [date]="trackByDate(post)"></app-date-separator>
        }
        <app-message [origin]="'dm'" [isThread]="true" [post]="post"></app-message>
      }
      {{ resetCompareTimestamp() }}
    }

  </section>
</main>