@import 'variables';
@import 'mixins';

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    app-navbar {
        position: absolute;
        width: 100%;
    }

    .container {
        position: relative;
        display: flex;
        gap: 24px;
        width: 100%;
        height: 100%;
        height: calc(100% - 94px);
        overflow-x: hidden;
        top: 99px;

        app-workspace-menu {
            transform-origin: center;
            position: absolute;
            top: 0;
            left: -24px;
            transform: translateX(-100%);
            transition: all 125ms ease-in-out;

            @media (max-width: 1200px) {
                width: 100%;
            }

            &.openWorkspaceMenu {
                position: relative;
                left: 0;
                transform: translateX(0);
            }
        }

        app-channel {
            flex: 1;
            transition: all 125ms ease-in-out;
        }

        app-thread {
            transform-origin: center;
            position: absolute;
            top: 0;
            right: -24px;
            transform: translateX(100%);
            transition: all 125ms ease-in-out;

            &.openThread {
                position: relative;
                right: 0;
                transform: translateX(0);
            }

            @media (max-width: 1200px) {
                width: 100%;
            }
        }
    }
}


.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: $backgroundColor;
    z-index: 10;

    &.hidden {
        display: none;
    }
}

.loader {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    background: $backgroundColor;
    position: relative;
    border-radius: 100%;
}

.loader:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    border: 15px solid transparent;
    border-top: 25px solid $backgroundColor;
    transform: rotate(45deg);
    top: 50px;
    left: -15px;
}

.loader:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $primaryColor;
    box-shadow: 20px 0 $primaryColor -20px 0 $primaryColor;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: $secondaryColor;
        box-shadow: 20px 0 $secondaryColor, -20px 0 $primaryColor;
    }

    50% {
        background-color: $primaryColor;
        box-shadow: 20px 0 $secondaryColor, -20px 0 $secondaryColor;
    }

    100% {
        background-color: $secondaryColor;
        box-shadow: 20px 0 $primaryColor, -20px 0 $secondaryColor;
    }
}

aside {
    @include dja;
    flex-direction: column-reverse;
    gap: 10px;
    position: absolute;
    left: 0;
    top: 581px;
    z-index: 9;
    background-color: #fff;                  
    padding: 23px 14px 23px 14px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 4px 4px 7px 0px #00000033;

    &:hover {
        cursor: pointer;
        color: $thirdColor;
        .label {
            font-weight: 700;
        }
        .icon {
            svg {
                path {
                    stroke: $thirdColor;
                }
                rect {
                    stroke: $thirdColor;
                }
            }
        }
    }


    .label {
        writing-mode: vertical-lr;
        font-family: "Nunito";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .icon {
        @include dja;
        width: 32px;
        height: 32px;
    }
}

