@import 'variables';

main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .container {
        position: relative;
        display: flex;
        gap: 24px;
        width: 100%;
        height: 100%;
        height: calc(100% - 94px);
        overflow-x: hidden;

        app-channel {
            flex: 1;
            transition: all 125ms ease-in-out;
        }

        app-thread {
            transform-origin: center;
            width: 480px;
            position: absolute;
            top: 0;
            right: -24px;
            transform: translateX(100%);
            transition: all 125ms ease-in-out;


            &.openThread {
                position: relative;
                right: 0;
                transform: translateX(0);
            }
        }
    }


}