@import 'variables';

.channel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 96px 0 168px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: $textWhite;

  .main-channel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    color: #000;
  }

  .channel-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .channel-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 40px 24px;
  }

 
}

app-search {
  position: fixed;
  top: 25px;
  width: 50%;
}