@import 'variables';

.channel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
  border-radius: 32px;
  background-color: $textWhite;
  flex: 1;

  app-channel-messages {
    flex: 1;
  }
}