@import 'variables';

.channel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: $textWhite;
  flex: 1;

  .top-channel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
  }

  app-inputfield {
    margin: 0 40px 24px;
  }
}