<div class="upload" [class.active]="inputfield.showUpload" (click)="upload.click()"
  (drop)="$event.stopPropagation(); $event.preventDefault(); handleDrop($event)" (dragover)="handleDragOver($event)"
  (dragleave)="handleDragLeave($event)">
  <label [class.d-none]="(getUploadedFiles(upload) || []).length > 0" for="fileUpload">Datei durch Klicken Wählen oder
    durch Ziehen und Ablegen</label>
  <input class="d-none" id="fileUpload" type="file" multiple accept="image/*, document/pdf" #upload
    (click)="$event.stopPropagation()">
  @if((getUploadedFiles(upload) || []).length > 0) {
    <div class="upload-container">
      @for (file of getUploadedFiles(upload); track $index) {
        <div class="file-container" [class.error]="file.size > 2000000">
          <div class="file">
            <p>{{ file.name }}</p>
            <p>{{ (file.size / 1000000).toFixed(2) }} MB</p>
            @if (file.size > 2000000) {
              <p class="error">Datei zu groß</p>
            }
          </div>
          <button (click)="$event.stopPropagation(); removeFile($index)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="#000000"
                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z" />
            </svg>
          </button>
        </div>
      }
    </div>
  }
  <div class="upload-buttons">
    <button [disabled]="!getUploadedFiles(upload) || getUploadedFiles(upload).length == 0"
      (click)="$event.stopPropagation(); uploadFiles()" type="button" class="mainButton buttonPrimary">Upload</button>
    <button class="mainButton buttonSecondary" (click)="$event.stopPropagation(); cancelUpload()">Abbrechen</button>
  </div>
</div>