@import 'variables';
@import 'mixins';

.user-dropdown-menu {
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    transform-origin: top right;
    right: 20px;
    top: 119px;
    padding: 28px;
    background-color: $textWhite;
    border-radius: 30px 0 30px 30px;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.2));
    opacity: 1;
    transform: translateY(0);
    transition: transform 5s ease-in-out, opacity 5s ease-in-out !important;
    visibility: visible;
    will-change: transform, opacity;

    @media(max-width: $breakpoint1){
      gap: 15px;
      width: 100%;
      bottom: 0;
      top: unset;
      right: 0;
      border-radius: 30px 30px 0 0;
      transform-origin: bottom;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%); 
      transition: transform 50s ease-in-out, opacity 50s ease-in-out !important;

      &.active{
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
      }
    }

    .close {
      width: 62px;
      height: 6px;
      border-radius: 23px;
      background-color: #D9D9D9;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      border: unset;
    }
    
    .profile {
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 24px;
      padding: 8px 0;
      background: unset;
      border: unset;

      @media(max-width: $breakpoint1){
        padding: 10px 30px;
        gap: 15px;
        justify-content: start;
        margin-top: 20px;
      }
  
      &:hover{
        cursor: pointer;
        color: $thirdColor;
        background-color: $backgroundColor;
        border-radius: 35px;
      }

      .icon-profile {
        display: none;
        width: 30px;
        height: 30px;
        @include dja();

        svg {
          width: 24px;
          height: 24px;
        }

        @media(max-width: $breakpoint1){
          display: flex;
        }
      }

      .label {
        font-family: "Nunito";
        font-size: 24px;
        font-weight: 600;
        line-height: 32.74px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        @media(max-width: $breakpoint1){
          font-size: 20px;
          line-height: 27.28px;
        }
      }
    }

    .logout {
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 24px;
      padding: 8px 0;
      background: unset;
      border: unset;

      @media(max-width: $breakpoint1){
        padding: 10px 30px;
        gap: 15px;
        justify-content: start;
      }
  
      &:hover{
        cursor: pointer;
        color: $thirdColor;
        background-color: $backgroundColor;
        border-radius: 35px;
      }

      .icon-logout {
        display: none;
        width: 30px;
        height: 30px;
        @include dja();

        @media(max-width: $breakpoint1){
          display: flex;
        }
      }

      .label {
        font-family: "Nunito";
        font-size: 24px;
        font-weight: 600;
        line-height: 32.74px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        @media(max-width: $breakpoint1){
          font-size: 20px;
          line-height: 27.28px;
        }
      }
    }
  }