@import 'variables';

.date-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  position: relative;
  padding: 0 36px;

  @media (max-width: $breakpoint1){
    padding: 0 1%;
  }

  .line {
    border: 1px solid $dividerColor;
    width: 100%;
  }

  .date {
    position: absolute;
    padding: 5px 15px 5px;
    border-radius: 30px;
    border: 1px solid $dividerColor;
    background-color: white;
  }
}