@import 'mixins';
@import 'variables';
@import './../../shared/components/log-in/card/card.component.scss';

:host {
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin: 92px 16px 92px 16px;
}

app-card {
    max-width: 700px;
    max-height: 700px;
}

.privacy-policy-container {
    height: 100%;
    max-height: calc(700px - 115px);
    overflow: scroll;
}

h1,
h2,
h3 {
    color: rgba(68, 77, 242, 1);
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    margin-top: 16px;
}

 h3 {
    margin-top: 16px;
 }

 h4 {
    margin-top: 10px;
 }

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  
    @media (max-width: 510px) {
      font-size: 16px;
      line-height: 20px;
    }
}
