@import 'variables';
@import 'mixins';

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    align-items: center;

    &:hover{
        background-color: $backgroundColor;
        border-radius: 30px;
        cursor: pointer;

        @media (max-width: breakpoint1){
            background-color: unset;
        }
    }

    div {
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint1){
            display: none;
        }

        .ws-icon {
            position: relative;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;

            .icon-background {
                position: absolute;
                border-radius: 30px;
            }

            .icon {
                position: absolute;
            }
        }

        .ws-name {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            text-align: left;
            margin: 13.5px 20px 13.5px 15px;

            &:hover{
                color: $thirdColor;
            }
        }
    }

    .new-message-btn {
        @include icon-style;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        background-color: unset;

        @media (max-width: $breakpoint1){
            display: none;
        }

        div {
            &:hover{
                svg {
                    width: 21.52px;
                    height: 21.55px;
                }
            }
        }
    }

    app-search {
        display: none;
        max-height: 48px;

        @media (max-width: $breakpoint1){
            display: flex;
            width: 100%;
        }
    }
}

