@import 'variables';
@import 'mixins';

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    align-items: center;

    &:hover {
        background-color: $backgroundColor;
        border-radius: 30px;
        cursor: pointer;

        @media (max-width: 1200px) {
            background-color: unset;
        }
    }

    div {
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
            display: none;
        }

        .ws-icon {
            position: relative;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;

            .icon-background {
                position: absolute;
                border-radius: 30px;
            }

            .icon {
                position: absolute;
            }
        }

        .ws-name {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            text-align: left;
            margin: 13.5px 20px 13.5px 15px;

            &:hover {
                color: $thirdColor;
            }
        }
    }

    .new-message-btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        background-color: unset;

        @media (max-width: 1200px) {
            display: none;
        }

        @include icon-style;

        div {
            &:hover {
                svg {
                    width: 21.52px;
                    height: 21.55px;
                }
            }
        }
    }

    app-search {
        display: none;
        max-height: 48px;

        @media (max-width: 1200px) {
            display: flex;
            width: 100%;
        }
    }
}

.mobile-edit-btn {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: unset;
    background-color: $primaryColor;
    box-shadow: 0px 6px 10px 0px #00000033;
    width: 60px;
    height: 60px;
    bottom: 57px;
    right: 16px;
    border-radius: 100px;

    @media (max-width: 1200px) {
        display: flex;
        
      }

    svg {
        path {
            fill: #fff;
        }
    }
}