@import "variables.scss";

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    align-items: center;

    &:hover{
        background-color: $backgroundColor;
        border-radius: 30px;
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;
        .ws-icon {
            position: relative;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;

            .icon-background {
                position: absolute;
                border-radius: 30px;
            }

            .icon {
                position: absolute;
            }
        }

        .ws-name {
            font-family: "Nunito";
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
            text-align: left;
            margin: 13.5px 20px 13.5px 15px;

            &:hover {
                color: $thirdColor;
            }
      }
    }

    .new-message-btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        background-color: unset;

        div {
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;

            &:hover{
                cursor: pointer;

                svg{
                    width: 21.52px;
                    height: 21.55px;

                    path{
                        fill: $primaryColor;
                    }
                }
            }
        }
    } 
}