<app-card>
    <div>
        <h2>Konto erstellen</h2>
        <div class="arrow-back">
            <img src="assets/icons/arrow-back.svg">
        </div>
    </div>
    <p class="instruction">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
    <form>
        <label>
            <input class="input-login">
            <img class="input-icon">
        </label>
        <label>
            <input class="input-login">
            <img class="input-icon">
        </label>
        <label>
            <input class="input-login">
            <img class="input-icon">
        </label>
        <label>
            <input type="checkbox">
        </label>
        <span>Ich stimme der <a>Datenschutzerklärung</a> zu.</span>
        <div>
            <button type="submit" class="mainButton buttonPrimary">Weiter</button>
        </div>

    </form>
</app-card>
