@import './../../../../style/styles.scss';
@import './../../../../style/variables.scss';
@import './../../../../style/fonts.scss';

main {
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 32px 30px 32px;
    background-color: #FFFFFF;
    border-radius: 30px;
    min-height: 940px;
    width: 366px;
}