@import 'variables';

main {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  border-radius: 35px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow:  0px 4px 5px -3px rgba(0,0,0,0.17);
  position: relative; // Hinzugefügt für die absolute Positionierung der Suchsymbole

  .input {
    position: relative; // Hinzugefügt für die absolute Positionierung der Suchsymbole

    input[type="search"] {
      width: 100%;
      font-size: 24px;
      border: none;
      outline: none;
      padding-right: 50px; // Platz für das Suchsymbol
      background-position: right 32px center;
    
      &::placeholder {
        color: $textGrey;
        font-size: 24px;
      }
    
      &:focus+.search {
        svg {
    
          path {
            fill: $textBlack;
          }
        }
      }
    }

    .search {
      position: absolute;
      top: 17.5px;
      right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .result-container {
    
    ul {
      gap: 10px;
      margin-top: 18.5px;
      padding: 0; // Entfernt Standard-Padding von ul
      max-height: 300px; // Optional: Begrenzung der Höhe bei vielen Ergebnissen
      overflow-y: auto; // Scrollen bei vielen Ergebnissen
      li {
        display: flex;
        align-items: center;
        list-style: none; /* Entfernt die Aufzählungszeichen */
        margin-bottom: 8px; 
        padding: 8px 16px;
        border-radius: 32px;
        cursor: pointer;

        .origin {
          font-family: "Nunito";
          font-size: 18px;
          font-weight: 700;
          line-height: 24.55px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $thirdColor;
        }

        .text{
          .searchTerm{
            color: $thirdColor;
          }
        }

        &:hover,
        &.selected{
          background-color: $backgroundColor;
          border-radius: 32px;
        }

        &.selected{
          background-color: lighten($thirdColor, 40%); // Beispiel: Helle Hintergrundfarbe für ausgewählte Elemente
        }
      }
      li:last-child {
        margin-bottom: 0;
    }
    }
  }
}


