@import 'variables';

main {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  border-radius: 35px;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  box-shadow:  0px 4px 5px -3px rgba(0,0,0,0.17);
  position: relative; 

  @media (max-width: $breakpoint1){
    height: fit-content;
    border: 1px solid $dividerColor;
    box-shadow:  unset;
    padding: 8px 24px;
  }

  .input {
    position: relative; 
    display: flex;

    @media (max-width: $breakpoint1){
      align-items: center;
    }

    input[type="search"]{
      width: 100%;
      font-size: 24px;
      border: none;
      outline: none;
      padding-right: 50px; 
      background-position: right 32px center;
      display: flex;
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration{
        -webkit-appearance: none;
        appearance: none;
      }
    
      &::placeholder{
        color: $textGrey;
        font-size: 24px;

        @media (max-width: $breakpoint1){
          font-size: 17px;
          font-family: "Nunito";
          font-size: 17px;
          font-weight: 400;
          line-height: 32px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    
      &:focus+.search{
        svg {
    
          path {
            fill: $textBlack;
          }
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $breakpoint1){
        max-height: 32px;
        max-width: 32px;
      }
    }
  }

  .result-container {
    ul {
      gap: 10px;
      margin-top: 18.5px;
      padding: 0;
      max-height: 300px; 
      overflow-y: auto; 

      li {
        display: flex;
        align-items: start;
        list-style: none; 
        margin-bottom: 8px; 
        padding: 8px 16px;
        border-radius: 32px;
        cursor: pointer;
        transition: background-color 0.3s;

        .prefix-channel,
        .prefix-user,
        .prefix-channel-post,
        .prefix-thread {
          font-family: "Nunito", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.55px;
          text-align: left;
          color: #444DF2;
        }

        .text{
          .searchTerm{
            color: $thirdColor;
          }
        }

        &:hover,
        &.selected{
          background-color: $backgroundColor;
          border-radius: 32px;
        }

       .result-info {
          ::ng-deep{
            .tagMessage{
                color: $secondaryColor;
                background-color: $backgroundColor;
                border: 1px solid $thirdColor;
                border-radius: 4px;
                padding: 2px 4px;
                font-size: 14px;
            }
          
            .file-thumbnail{
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 0 4px;
                cursor: pointer;
            }
          
            .thumbnail-image{
                width: auto;
                height: 48px;
                object-fit: cover;
                border-radius: 5px;
            }
          
            .pdf-thumbnail svg {
                width: auto;
                height: 48px;
            }
        
            .pdf-thumbnail .pdf-link{
                text-align: center;
                font-size: 12px;
                color: $textBlack;
                text-decoration: none;
            }
          
            .image-thumbnail svg {
                cursor: pointer;
            }
          
            .other-thumbnail svg {
                width: auto;
                height: 48px;
            }
        
            .file-thumbnail .file-link{
              display: flex;
              flex: 1;
              text-align: center;
              font-size: 12px;
              color: $textBlack;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 80px;
            } 
          }
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

