@import 'variables';
@import 'styles';
@import './../../../../shared/components/log-in/card/card.component.scss';
@import './../../../../shared/components/log-in/background/background.component.scss';

.width-container {
  width: 692px;

  @media (max-width: 790px) {
    width: 100%;
  }
}

.padding-left-32 {
  padding-left: 32px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (max-width: 510px) {
    align-items: flex-start;
  }

  label {
    width: 400px;

    @media (max-width: 510px) {
      width: 100%;
    }
  }

  .btn-container {
    width: 400px;
    display: flex;
    justify-content: end;

    @media (max-width: 510px) {
      width: 100%;
    }
  }
}

.error-text-input {
  line-height: 15px !important;
}

.submit-btn {
  height: 49px;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 510px) {
    font-size: 14px;
    padding: 0px 20px;
    height: 40px;
  }

  &:hover {
    border: 1px solid $textGrey;
  }
}

/* Spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #4caf50;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Fehlermeldung */
.error-notification {
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notification button {
  background: none;
  border: none;
  color: #721c24;
  cursor: pointer;
  font-size: 14px;
}

/* Passwort-Sichtbarkeit Umschalten */
.toggle-visibility {
  background: none;
  border: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}