<div style="position: absolute; top: 52px; left: 20px; ">
    <header>
        <img src="assets/img/dabubble-logo.png">
    </header>
</div>
<!-- Hauptinhalt (Passwort zurücksetzen) -->
<div class="width-container">
    <app-card>
        <div class="title-container">
            <h2>Passwort zurücksetzen</h2>
            <div class="arrow-back arrow-position-title" (click)="navigationService.navigateTo('/login')">
                <!-- SVG für den Zurück-Button -->
            </div>
        </div>

        <!-- Ladeanzeige -->
        <div *ngIf="isLoading" class="loading">Bitte warten...</div>

        <!-- Fehlermeldung -->
        <div *ngIf="!isLoading && errorMessage" class="error-text instruction">
            {{ errorMessage }}
        </div>

        <!-- Passwort-Reset-Formular -->
        <form *ngIf="!isLoading && !errorMessage" #newPasswordForm="ngForm" (ngSubmit)="resetPassword()">
            <label class="login-label" for="password">
                <input (input)="comparePasswords()" id="password" #password="ngModel" [(ngModel)]="passwordData"
                    name="password" class="input-login padding-left-32" placeholder="Neues Passwort" minlength="6"
                    type="password" autocomplete="off" required />
                <span *ngIf="password.invalid && password.touched" class="error-text-input">
                    Bitte gib ein gültiges Passwort ein. Mindestens 6 Zeichen.
                </span>
            </label>

            <label class="login-label" for="confirmPassword">
                <input (input)="comparePasswords()" id="confirmPassword" #confirmPassword="ngModel"
                    [(ngModel)]="confirmPasswordData" name="confirmPassword" class="input-login padding-left-32"
                    placeholder="Neues Passwort bestätigen" type="password" required />
                <span *ngIf="!samePasswords && confirmPassword.touched" class="error-text-input">
                    Die Passwörter stimmen nicht überein.
                </span>
            </label>

            <div class="btn-container">
                <button type="submit" [disabled]="newPasswordForm.invalid || !samePasswords"
                    class="mainButton buttonPrimary">
                    Passwort ändern
                </button>
            </div>
        </form>
    </app-card>
    <footer>
        <button class="mainButton" (click)="this.navigationService.navigateTo('/imprint')">Impressum</button>
        <button class="mainButton" (click)="this.navigationService.navigateTo('/privacy-policy')">Datenschutz</button>
    </footer>
</div>