@import 'variables';
@import './../../../../shared/components/log-in/card/card.component.scss';

.width-container {
    width: 692px;
}

.padding-left-32 {
    padding-left: 32px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    input {
        width: 400px;
    }

    .btn-container {
        width: 400px;
        display: flex;
        justify-content: end;
    }
}

.error-text-input {
        line-height: 15px !important;
}