@import 'variables';
@import './../../../../shared/components/log-in/card/card.component.scss';

.width-container {
    width: 692px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.padding-left-32 {
    padding-left: 32px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    input {
        width: 400px;
    }

    .btn-container {
        width: 400px;
        display: flex;
        justify-content: end;
    }
}

.error-text-input {
    line-height: 15px !important;
}

footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;

    button:first-child {
        width: 121px;
        height: 42px;
    }

    button:nth-child(2) {
        width: 133px;
        height: 42px;
    }
}

.mainButton {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 24px;
    padding: 12px 24px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
  
    &.buttonPrimary {
      background-color: $primaryColor;
      color: $textWhite;
  
      &:hover {
        background-color: $secondaryColor;
      }
  
      &:active {
        background-color: $primaryColor;
      }
  
      &:disabled {
        background-color: $textGrey;
        cursor: unset;
      }
    }
  
    &.buttonSecondary {
      background-color: $textWhite;
      color: $primaryColor;
      border: 1px solid $secondaryColor;
  
      &:hover {
        background-color: $thirdColor;
        color: $textWhite;
      }
  
      &:active {
        background-color: $primaryColor;
        color: $textWhite;
      }
  
      &:disabled {
        background-color: $textWhite;
        color: $textGrey;
        border-color: $textGrey;
        cursor: unset;
      }
    }
  }

  button {
    background-color: unset;
    padding: unset;
    color: $secondaryColor;
    font-weight: 400;

    &:hover {
        border: 1px solid $textGrey;
        font-weight: 800;
    }
}