@import 'variables';

main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $backgroundColor;

    @media (max-width: $breakpoint1) {
        background-color: $textWhite;
    }
   
}