@import 'variables';

main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $backgroundColor;

    @media (max-width: $breakpoint1) {
        background-color: $textWhite;
    }
    // @media (max-width: 510px) {
    //     padding: 25px 10px;
    // }
}