@import './../../shared/components/log-in/card/card.component.scss';

:host {
    display: flex;
    justify-content: center;
}

app-card {
    max-height: 700px;
    max-width: 700px;
}

.top-section {
    position: relative;
}

h2 {
    text-align: left;
}

.instruction {
    text-align: left;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: $primaryColor;
}

.responsivePersons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}