<main [class.self]="post.author === storage.currentUser.id">

  <div class="avatar">
    <img [src]="'assets/img/profile-pictures/' + authorAvatar" alt="avatar">
  </div>

  <section class="message-section" [class.self]="post.author === storage.currentUser.id">

    <div class="author-section" [class.self]="post.author === storage.currentUser.id">
      <div class="author">{{authorName}}</div>
      <div class="post-time">{{ postTime(post.timestamp) + ' Uhr' }}</div>
    </div>

    <div class="message" [class.self]="post.author === storage.currentUser.id">{{post.text}}</div>
    @if (post.thread && !threadHead) {
      <div class="answer-section" [class.self]="post.author === storage.currentUser.id">
        <div class="answers">{{post.threadMsg?.length + (post.threadMsg?.length === 1 ? ' Antwort' : ' Antworten')}}
        </div>
        <div class="post-time">Letzte Antwort {{ lastThreadMsgTime() + ' Uhr' }}
        </div>
      </div>
    }
  </section>
</main>
@if (threadHead) {
  <div class="thread-start">
    @if (post.thread) {
      <div class="threadAnswers">
        {{post.threadMsg?.length + (post.threadMsg?.length === 1 ? ' Antwort' : ' Antworten')}}
      </div>
    }
    <div class="oLine"></div>
  </div>
}