@import "variables";
@import "mixins";

main {
    position: relative;
    display: flex;
    padding: 10px 45px;
    gap: 30px;
    transition: background-color 100ms ease-in-out;


    &:hover{
        background-color: $backgroundColor;
        .reaction-bar {
            opacity: 1;
            visibility: visible;
            transform: translateX(-3px); // Verschiebung nach links
        }
    }

    &.self{
        flex-direction: row-reverse;
    }

    .reaction-bar {
        position: absolute;
        right: 40.06px;
        top: -18px;
        padding: 3px 15px 3px 20px;
        gap: 5px;
        border-radius: 25px 25px 0px 25px;
        border: 1px solid $dividerColor;
        opacity: 0;
        visibility: hidden;
        transform: translateX(0); // Ausgangsposition
        display: flex;
        background-color: #fff;
        transition: opacity 100ms ease-out, visibility 100ms ease-out, transform 100ms ease-out; // Hinzufügen von transform zur Transition

        .reaction-bar-icon {
            width: 40px;
            height: 40px;
            @include dja;
      

            &:hover{
                background-color: $backgroundColor;
                cursor: pointer;
                border-radius: 100%;
            }
        }

        .reaction-bar-icon-special{
            div {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: end;
                align-items: start;
            }

            &:hover{
                div {
                    svg {
                        width: 23.13px;
                        height: 22.13px;
                        top: 8.68px;
                        left: 9.2px;
                        gap: 0px;
                        opacity: 0px;

                        path {
                            fill: $primaryColor;
                        }
                    }
                }
            }

        }

        .more {
            display: none;
            div {
                justify-content: center;
                align-items: center;
            }
        }

        .answer{
            div {
                justify-content: center;
                align-items: center;
            }
        }

    }

   

    .avatar {
        height: 70px;
        width: 70px;
        border-radius: 50%;


        img {
            height: auto;
            width: 100%;
            border-radius: 50%;
        }
    }

    .message-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 8px;

        &.self {
            align-items: flex-end;
        }

        .author-section {
            display: flex;
            align-items: center;
            gap: 20px;

            &.self {
                flex-direction: row-reverse;
            }

            .author {
                font-family: "Nunito";
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                text-align: left;
            }
        }

        .message {
            padding: 15px;
            border-radius: 0px 30px 30px 30px;
            background-color: $backgroundColor;
            font-family: "Nunito";
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
            text-align: left;
            width: fit-content;

            &.self {
                border-radius: 30px 0px 30px 30px;
                background-color: $secondaryColor;
                color: $textWhite;
            }
        }

        .answer-section {
            display: flex;
            gap: 20px;
            align-items: center;

            &.self {
                justify-content: flex-end;
            }

            .answers {
                font-family: "Nunito";
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                text-align: left;
                color: $thirdColor;
            }
        }


    }

    .post-time {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 400;
        line-height: 19.1px;
        text-align: left;
        color: #686868;
    }

}

.thread-start {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 16px 40px 0;
    align-items: center;

    .threadAnswers {
        color: $dividerColor;
    }

    .oLine {
        flex: 1;
        height: 1px;
        background-color: $dividerColor;
    }
}