<main>
  <section class="profile-section"></section>
  <section class="message-section">

    <div class="author-section">
      <div class="author">{{authorName}}</div>
      <div class="post-time">{{ postTime(post.timestamp) + ' Uhr' }}</div>
    </div>

    <div class="message">{{post.text}}</div>
    @if (post.thread === true) {
      <div class="answer-section">
        <div class="answers">{{post.threadMsg?.length + (post.threadMsg?.length === 1 ? ' Antwort' : ' Antworten')}}
        </div>
        <div class="post-time">Letzte Antwort {{ lastThreadMsgTime() + ' Uhr' }}
        </div>
      </div>
    }
  </section>
</main>