@import 'variables';
@import 'mixins';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal {
        background: #fff;
        width: 872px;
        padding: 40px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        @media (max-width: $breakpoint1){
            width: 100%;
            height: 100%;
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
            border-bottom-left-radius: unset;
            padding: 20px 16px;
        }

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            margin-bottom: 20px;
            width: 100%;
            margin-top: 24.5px;

            h1 {
                display: flex;
                gap: 15px;
                align-content: center;

                .header-tag-icon {
                    width: 30px;
                    height: 30px;
                    @include dja();
                }

                .header-name {
                    display: flex;
                    font-family: "Nunito";
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32.74px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }

            button {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: unset;
                border: unset;

                &:hover{
                    background-color: $backgroundColor;
                    border-radius: 20px;
                    cursor: pointer;
                    svg {
                        width: 15.07px !important;
                        height: 15.13px !important;
                        path {
                            fill: $secondaryColor
                        }
                    }
                }
            }

            .close-button {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: unset;
                border: unset;

                &:hover{
                    background-color: $backgroundColor;
                    border-radius: 20px;
                    cursor: pointer;
                    svg {
                        width: 15.07px !important;
                        height: 15.13px !important;
                        path {
                            fill: $secondaryColor
                        }
                    }
                }
            }
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            gap: 20px;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .field {
                display: flex;
                flex-direction: column;
                border: 1px solid #adb0d9;
                border-radius: 20px;
                padding: 20px;
                gap: 20px;

                .field-head {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    label {
                        font-family: "Nunito";
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 24.55px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: $textBlack;
                    }

                    .edit-button {
                        display: flex;
                        background: none;
                        border: none;
                        cursor: pointer;

                        &:hover{
                            color: #444df2;
                            transform: scale(1.1);
                            transition: all 0.2s ease;
                        }

                        .edit-button-label {
                            font-family: "Nunito";
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24.55px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: $thirdColor;

                            @media(max-width: $breakpoint1){
                                display: none;
                            }
                        }

                        .mobile-icon {
                            display: none;
                            width: 30px;
                            height: 30px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 40px;
                            background-color: $backgroundColor;

                            @media(max-width: $breakpoint1){
                                display: flex;
                            }

                            &:hover {
                                svg {
                                    width: 20.32px;
                                    height: 20.32px;
                                    path {
                                        fill: $thirdColor
                                    }
                                }
                            }
                        }
                    }
                }

                .field-body {
                    display: flex;
                    height: 60px;
                    position: relative;

                    .value {
                        display: flex;
                        gap: 10px;
                        align-items: center;
    
                        .tag-icon {
                            width: 23px;
                            height: 23px;
                            @include dja();
                        }
    
                        .channel-name {
                            display: flex;
                            font-family: "Nunito";
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 24.55px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                        }
                    }
    
                    .edit-container {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 17.7px 20px;
                        border: 1px solid #ADB0D9;
                        border-radius: 40px;
                        width: 100%;

                        .tag-icon {
                            width: 23px;
                            height: 23px;
                            @include dja();
                        }
    
                        input {
                            display: flex;
                            outline: none;
                            border: unset;
                            box-shadow: none;
                            width: 100%;
                            font-family: "Nunito";
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 24.55px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: $textGrey;

                            &::placeholder{
                                font-family: "Nunito";
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 24.55px;
                                text-align: left;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;
                                color: $textGrey;
                            }
                        }
                    }

                    .error-message {
                        position: absolute;
                        top: 61px;
                        font-size: 13px;
                        color: $errorColor;
                    }
                }

                
            }

            .member-container {
                display: none;

                @media(max-width: $breakpoint1){
                    display: flex;

                    .field {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid #adb0d9;
                        border-radius: 20px;
                        padding: 20px;
                        gap: 20px;
                        width: 100%;
    
                        app-member-container {
                          
                            ::ng-deep .dialog {
                                position: unset !important;
                                width: unset;
                                height: unset;
                                padding: unset;
                                border-radius: unset;
                                box-shadow: unset;

                                .head {
                                    div {
                                        font-family: "Nunito";
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 24.55px;
                                        text-align: left;
                                        text-underline-position: from-font;
                                        text-decoration-skip-ink: none;
                                        color: #000000;
                                    }
                                }
                            }
                        }
    
                    }
                }

                
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: 20px;

            .leave-button {
                background: #444df2;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 12px 25px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    background: #0056b3;
                    transform: scale(1.05);
                    transition: all 0.2s ease;
                }
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: #adb0d9;
            margin: 10px 0;
        }

        .created-by {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            margin-top: 20px;
            font-size: 14px;
            color: #555;

            .creator-name {
                font-size: 16px;
                font-weight: bold;
                color: #007bff;
            }
        }
    }
}