<div class="modal-overlay">
    <div class="modal">
        <!-- Header -->
        <div class="modal-header">
            <h1># {{ channelName }}</h1>
            <button class="close-button" (click)="cancel()">×</button>
        </div>

        <!-- Content -->
        <div class="modal-content">
            <!-- Channel Name -->
            <div class="field">
                <label>Channel-Name</label>
                <div *ngIf="!isEditingChannelName" class="value">
                    <span># {{ channelName }}</span>
                    <span class="edit-button" (click)="editChannelName()">Bearbeiten</span>
                </div>
                <div *ngIf="isEditingChannelName" class="edit-container">
                    <div class="input-group">
                        <span>#</span>
                        <input [(ngModel)]="channelName" placeholder="Neuer Channel-Name" />
                    </div>
                    <button class="save-button" (click)="saveChannelName()">Speichern</button>
                </div>
            </div>

            <!-- Beschreibung -->
            <div class="field description">
                <label>Beschreibung</label>
                <div class="value" *ngIf="!isEditingDescription">
                    <span>{{ channelDescription }}</span>
                    <span class="edit-button" (click)="editDescription()">Bearbeiten</span>
                </div>
                <div class="edit-container" *ngIf="isEditingDescription">
                    <div class="input-group">
                        <input [(ngModel)]="channelDescription" placeholder="Beschreibung eingeben..." />
                        <button class="save-button" (click)="saveDescription()">Speichern</button>
                    </div>
                </div>

                <div class="divider"></div>
                <!-- Created By -->
                <div class="created-by">
                    <span>Erstellt von</span>
                    <span class="creator-name">{{ creatorName }}</span>
                </div>
            </div>


        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <button class="leave-button" (click)="leaveChannel()">Channel verlassen</button>
        </div>
    </div>
</div>