@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  width: 100dvw;
}

.mainButton {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 12px 24px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;

  &.buttonPrimary {
    background-color: $primaryColor;
    color: $textWhite;

    &:hover {
      background-color: $secondaryColor;
    }

    &:active {
      background-color: $primaryColor;
    }

    &:disabled {
      background-color: $textGrey;
    }
  }

  &.buttonSecondary {
    background-color: $textWhite;
    color: $primaryColor;
    border: 1px solid $secondaryColor;

    &:hover {
      background-color: $thirdColor;
      color: $textWhite;
    }

    &:active {
      background-color: $primaryColor;
      color: $textWhite;
    }

    &:disabled {
      background-color: $textWhite;
      color: $textGrey;
      border-color: $textGrey;
    }
  }
}