$primaryColor: #444DF2;
$secondaryColor: #797EF3;
$thirdColor: #535AF1;
$backgroundColor: #ECEEFE;
$errorColor: #ED1E79;
$successColor: #92C83E;
$textWhite: #FFFFFF;
$textBlack: #000000;
$textGrey: #686868;
$dividerColor: #ADB0D9;
$lightGrey: #E6E6E6;

$breakpoint1: 1300px;