@import 'variables';

@mixin font {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.channel-head {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 45px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 32px 32px 0px 0px;

  @media(max-width: $breakpoint1){
    padding: 13px 16px;
  }
}

.channel-name,
.dm-name {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 10px;

  p {
    font-size: 24px;
    font-weight: bold;

    @media(max-width: $breakpoint1){
      font-size: 20px;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
    background-color: $backgroundColor;
    border-radius: 30px;

    p {
      color: $thirdColor;
    }

    .icon {
      svg {
        path {
          fill: $thirdColor;
        }
      }
    }
  }
}

.channel-member-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;

  @media(max-width: $breakpoint1){
    display: unset;
    align-items: unset;
    justify-content: unset;
  }


  .channel-member {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 4px 16px;

    @media(max-width: $breakpoint1){
      display: none;
    }


    &:hover {
      cursor: pointer;
      background-color: $backgroundColor;
      border-radius: 30px;

      .more-user {
        background-color: $secondaryColor;
      }
    }
  }

  .user-avatar {
    position: relative;
    height: 40px;
    border-radius: 50%;
  }

  .more-user {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $backgroundColor;
    font-size: 20px;
    font-weight: semibold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 20px;
    font-weight: semibold;
  }

  .add-user {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $breakpoint1){
      min-width: unset;
      width: 34px;
      height: 34px;

      svg {
        width: 34px;
        height: 34px;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        path {
          fill: $thirdColor;
        }
      }
    }
  }
}

.dm-name {
  p {
    font-size: 24px;
    font-weight: semibold;
  }

  .user-avatar {
    position: relative;
    height: 50px;
    border-radius: 50%;
  }
}

app-new-message-input-head {
  width: 100%;
}