@import 'variables';
@import 'mixins';
@import 'styles';
@import './../../log-in/card/card.component.scss';

.background-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.2));
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-container {
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 790px) {
        gap: 20px;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 510px) {
        gap: 10px;
    }

    button {
        height: 49px;
        font-size: 18px;
        font-weight: 700;

        @media (max-width: 510px) {
            font-size: 14px;
            padding: 0px 20px;
            height: 40px;
        }
    }
}

.relative-container {
    position: relative;

    @media (max-width: 790px) {
        height: 68px;
    }
}

.error-message {
    position: absolute;
    top: 48px;

    @media (max-width: 510px) {
        font-size: 12px;
        line-height: 15px;
    }

    @media (max-width: 393px) {
        top: 58px;
    }
}