@import 'variables';
@import 'mixins';
@import 'styles';
@import './../../log-in/card/card.component.scss';

.background-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-container {
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 790px) {
        gap: 20px;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;

    @media (max-width: 510px) {
        gap: 10px;
    }

    button {
        height: 49px;
        font-size: 18px;
        font-weight: 700;

        @media (max-width: 510px) {
            font-size: 14px;
            padding: 0px 20px;
            height: 40px;
        }
    }
}

.error-message {
    top: -18px;
    left: 0;
}