@import 'variables';

main {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    margin: 24px 0;
    padding: 0 40px;
    display: flex;
    flex-direction: column-reverse;
}

.channel-message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

app-message {
    scroll-snap-align: end;

    &:hover {
        cursor: pointer;
        background-color: $backgroundColor;
    }
}