<main>
  <section class="channel-message">

    <!-- findChannel() in channel-head.component.ts -->
    <!-- Wenn die Methode findChannel() die ID eines Channels in currentUser.currentChannel findet, dann true -->
    @if(findChannel() === 'channel') {

      @for (post of getPostsofChannel(); track $index) {
        @if (currentDate(post.timestamp) > compareTimestamp) {
          <app-date-separator [date]="trackByDate(post)"></app-date-separator>
        }
        <app-message [post]="post"></app-message>
      }

      {{ resetCompareTimestamp() }}

    }
    @if(findChannel() === 'dm') {
        <ng-container *ngFor="let post of getPostsofDm(); trackBy: trackByPostId">
          <ng-container *ngIf="currentDate(post.timestamp) > compareTimestamp">
            <app-date-separator [date]="trackByDate(post)"></app-date-separator>
          </ng-container>
          <app-message [post]="post"></app-message>
        </ng-container>
        {{ resetCompareTimestamp() }}
    }
    
  </section>
</main>