@import 'variables';

main {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    padding: 24px 0;
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
}

.channel-message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

app-message {
    scroll-snap-align: end;
}

.empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 40px;

    .header {
        display: flex;
        align-items: flex-end;
        gap: 24px;

        img {
            height: 100px;
            width: 100px;
            border-radius: 100%;
            object-fit: cover;
            object-position: top;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .example {
        color: $textGrey;

        .highlight {
            color: $thirdColor;
        }

        .bold {
            font-weight: bold;
        }
    }
}