<app-background-with-sign-in [newAccount]="login">
    <ng-container *ngIf="login; else sendEmail">
        <app-log-in-card (login)="login = $event"></app-log-in-card>
    </ng-container>
    <ng-template #sendEmail>
        <app-send-email-card (login)="login = $event"></app-send-email-card>
    </ng-template>
</app-background-with-sign-in>

<div class="loading-container" *ngIf="showLoading">
    <div class="logo-container">
        <div class="logo animated-logo">
            <img src="./assets/icons/Logo.svg" alt="Logo" />
            <p>DaBubble</p>
        </div>
    </div>
</div>
