<div class="log-in-card">
    <h2>Anmeldung</h2>
    <p class="instruction">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    <form (ngSubmit)="checkLogin(loginForm)" #loginForm="ngForm">
        <label class="login-label" for="email">
            <input id="email" #name="ngModel" [(ngModel)]="loginData.email" name="email" class="input-login"
                (focus)="focusOnMail = true" (blur)="focusOnMail = false" placeholder="beispielname@email.com"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            <img class="input-icon"
                [src]="focusOnMail ? 'assets/img/icons/mail-black.png' : 'assets/img/icons/mail.png'">
        </label>
        <label class="login-label" for="password">
            <input id="password" #email="ngModel" [(ngModel)]="loginData.password" name="password" class="input-login"
                (focus)="focusOnPassword = true" (blur)="focusOnPassword = false" placeholder="Passwort" required>
            <img [src]="focusOnPassword ? 'assets/img/icons/lock-black.png' : 'assets/img/icons/lock.png'">
        </label>
    </form>
    <div class="btn-container">
        <button class="btn-new-password">Passwort vergessen</button>
    </div>
    <div class="separation">
        <span class="line"></span>
        <span class="or">ODER</span>
        <span class="line"></span>
    </div>
    <label>
        <input class="input-login">
    </label>
    <div class="btns-container">
        <button type="submit" [disabled]="loginForm.invalid" class="buttonPrimary">Anmelden</button>
        <button class="buttonSecondary">Gäste-Login</button>
    </div>
</div>