@import 'variables';

.background-container {
    padding: 75px;
    box-sizing: border-box;
    font-weight: 400;
}

.create-new-profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    background-color: unset;
    padding: unset;
    color: $secondaryColor;
    font-weight: 400;

    &:hover {
        border: 1px solid $textGrey;
        font-weight: 800;
    }
}

header {
    display: flex;
    justify-content: space-between;

    img {
        width: 242.11px;
        height: 70px;
    }
}

.main-content {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 115px;

    button:first-child {
        width: 121px;
        height: 42px;
    }

    button:nth-child(2) {
        width: 133px;
        height: 42px;
    }
}

