@import 'variables';
@import 'mixins';

.card {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 50px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 790px) {
      position: relative;
    }

    @media (max-width: 650px) {
      padding: 50px 15px;
    }

    @media (max-width: 510px) {
      gap: 15px;
    }
}

h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
  color: $primaryColor;
  margin-top: 0;
  text-align: center;

  @media (max-width: 510px) {
    font-size: 30px;
    line-height: 40px;
  }
}

.instruction {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @media (max-width: 510px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.input-login {
    width: 100%;
    height: 60px;
    padding: 18px 32px 18px 86px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: $backgroundColor;
    display: flex;
    gap: 10px;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;

    @media (max-width: 510px) {
      height: 48px;
      padding: 15px 16px 15px 60px;
      font-size: 14px;
      line-height: 17px;
    }
  
    &::placeholder {
      color: $textGrey;
    }
  
    &:hover {
      cursor: pointer;
      border: 1px solid $textGrey;
    }
  
    &:focus {
      outline: none;
      border: 1px solid $thirdColor;

        + svg path {
          fill: black;
        }
  
    }
  }
  
.login-label {
  position: relative;
  height: 60px;

  @media (max-width: 510px) {
    height: 48px;
  }
  
  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 32px;
    cursor: pointer;

    @media (max-width: 510px) {
      left: 16px;
    }
  }

  .error-text-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    color: $errorColor;
    position: absolute;
    top: 60px;

    @media (max-width: 510px) {
      top: 48px;
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.title-container {
  position: relative;

  @media (max-width: 790px) {
    position: unset;
  }
}

.arrow-back {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  @include dja;
  @include icon-style;
  &:hover {
    background-color: $backgroundColor;
    cursor: pointer;
    svg path{
      fill: $primaryColor;
    }
  }
}

.arrow-position-title {
  position: absolute;
  top: calc(50% - 20px);
  left: -24px;

  @media (max-width: 790px) {
    top: 12px;
    left: 12px;
  }
}